.scroll-to-top {
    position: fixed;
    border: 2px solid black;
    bottom: 0.5rem;
    right: 1rem;
    /* animation: fadeIn 10ms ease-in-out 1s both; */
    cursor: pointer;
    font-size: 20px;
    background-color: white;
    cursor: pointer;
    padding-left: 8.5px;
    padding-top: 3.5px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.scroll-to-top:hover {
    background-color: #999;
  }

@media only screen and (max-width: 900px) {
    .scroll-to-top {
        right: 0.3rem;
        bottom: 0.3rem;
    }
}