.aerodynamic-showcase{
    /* border: 1px solid red; */
    width:800px;
    margin:auto;
    height:700px;
}

.aerodynamic-image{
    width:100%;
    position: relative;
    /* right:100px; */
    /* top:-0px; */
}