.tabs-container {
    /* border:1px solid blue; */
    width:85%;
    height: auto;
    /* border-radius: 10px; */
    /* margin:auto; */
    margin:20px auto 40px auto;
    /* float: center; */
}

.tab-name {
    font-size:20px;
}

.tab-panel {
    margin: 15px;
}

/* .appbar-stick {
    width: 100vw !important;
    transition: width 0.5s;
} */

@media only screen and (max-width: 900px) {
    .tab-name {
        font-size:3vw;
        justify-content: space-evenly;
    }

    .tabs-container {
        width:100%;
        margin:20px auto 20px auto;
    }
}