/* .project-container {
    border:1px solid red;
    width:1050px;
    margin:0px auto;} */

    .intro-paragraph-container {
        /* border:1px solid blue; */
        width:80%;
        height: auto;
        margin:auto;
        margin:20px auto 80px auto;
        float: center;
    }

    .curve { 
        max-width: 10%; 
        /* max-height: 50%; */
        min-width: 150px;
        float: left;
        margin-right:3rem; 
        border-radius: 50%;
        -webkit-shape-outside:circle();
        shape-outside:circle();
      }
    
    .intro-paragraph {
        font-size:20px;
        font-weight:200;
        line-height: 1.4;
        float: middle;
    }

        .title-name {
            /* color:rgb(248, 100, 100); */
            margin-bottom:10px;
            padding-left:20px;
            font-size:25px;
        }
    
.filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 10px;
    display: none; /* Hidden by default */
    }

.my-btn-container{
    margin-top: 10px;
}

    /* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    margin: 5px;
    }

/* Add a light grey background on mouse-over */
.btn:hover {
    background-color: #ddd;
    }

/* Add a dark background to the active button */
.btn.active {
    background-color: #666;
    color: white;
    }

@media only screen and (max-width: 900px) {
    /* .project-container {
        width:auto;
        margin:0px auto;
    } */
        
        .intro-paragraph {
            font-size:5vw;
            font-weight:200;
            line-height: 1.4;
        }

        .curve { 
            max-width: 30%; 
        }

            .title-name {
                /* color:rgb(248, 100, 100); */
                margin-bottom:10px;
                padding-left:20px;
                font-size:3vw;
            }
}